/* ___General________________________ */

.prods
{
    margin-bottom: 150px;
}

.price
{
    font-size: 20px;
    color: #067606;
    font-weight: bold;
}

h2
{
    color: #067606;
}

p
{
    color: black;
}

a:link
{
    text-decoration: none;
}

h2:hover
{
    text-decoration: rgba(25, 181, 25, 0.28);
    text-decoration-thickness: 10px;
}

/* ___Elements______________________________ */

.titleLists
{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#sortProducts
{
    margin : 40px 0;
    width: 160px;
}


.button
{
    height: 40px;
}

#crud
{
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    gap: 10px;
}

#newProduct
{
    display: flex;
    align-content: space-between;
    gap:10px;
    margin-bottom: 100PX;
    font-size: 0.7em;
    /*flex-grow: 4;*/
    /*flex-shrink: 3;*/
}



