/* ___General________________________ */

.prods
{
    margin-bottom: 150px;
}

.price
{
    font-size: 20px;
    color: #067606;
    font-weight: bold;
}

h2
{
    color: #067606;
}

p
{
    color: black;
}

a:link
{
    text-decoration: none;
}

h2:hover
{
    text-decoration: rgba(25, 181, 25, 0.28);
    text-decoration-thickness: 10px;
}

/* ___Elements_Products____________________ */

.titleLists
{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#sortProducts
{
    margin : 40px 0;
    width: 160px;
}


.button
{
    height: 30px;
}

#crud
{
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    gap: 10px;
}

#newProduct
{
    display: flex;
    align-content: space-between;
    gap:10px;
    margin-bottom: 100PX;
    font-size: 0.7em;
    /*flex-grow: 4;*/
    /*flex-shrink: 3;*/
}

/* ___Elements_Backoffice_table_____________ */

.backofficeTable
{
    table-layout: fixed;
    width: 100%;
    margin : 60px 0;
}

.backofficeTable th {
    background-color: rgba(25, 181, 25, 0.28);
}

.backofficeTable td, #customers th {
    border: 1px solid #ddd;
    padding-right: 8px;
}

.backofficeTable tr, td {
    border: solid;
}

.backofficeTable td {
    border: 1px solid #ddd;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.backofficeTable tr:nth-child(even)
{
    background-color: #f2f2f2;
}

thead
{
    border: 1px solid #ddd;
}

tr
{
    border:0px !important;
}

.crud
{
    text-align: right;
    max-height: 30px;
}

tr .crud
{
    text-align: right;
}
