

.prods
{
    margin-bottom: 150px;
}

.price
{
    font-size: 20px;
    color: #067606;
    font-weight: bold;
}

h2
{
    color: #067606;
}

p
{
    color: black;
}

a:link
{
    text-decoration: none;
}

h2:hover
{
    text-decoration: rgba(25, 181, 25, 0.28);
    text-decoration-thickness: 10px;
}


/**
TODO : class active conditionnelle de la navbar
 */
